{% extends 'base.html.twig' %}


    {% block title %}Specialitées{% endblock %}

    {% block body %}
        <div class="main">
            {{ include('include/_navigation.html.twig') }}
            <div class="content">
                <div class="container">
                    <div class="titlereturn">
                        <h4>Nouvelle specialitée</h4>
                        <a href="{{ path('specialite_index') }}" class="buttonreturn"><i class="fas fa-undo"></i> Retour</a>
                    </div>
                    {{ form_start(form) }}
                    <div class="profil">
                        <div class="name">
                            <p>Nom</p>
                            {{ form_row(form.name) }}
                        </div>
                        <div class="name">
                            <p>Référence opération</p>
                            {{ form_row(form.referenceOperation) }}
                        </div>

                        <button type="submit" class="buttongreen">Ajouter</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>

        </div>

    {% endblock %}


