<table>
    <tr class="table-title">
        <th class="table-title-name">Nom du client</th>
        <th class="table-title-date">Date d'ajout</th>
        <th class="table-title-date table-edit">Editer</th>
        <th class="table-title-date table-delete">Supprimer</th>
    </tr>
    {% for client in clients %}
        <tr>
            <td class="table-name">{{ client.name }}</td>
            <td class="table-date">{{ client.createdAt |format_datetime ( locale= 'fr', pattern=" EEEE dd MMMM YYYY HH:mm") }}</td>
            <td class="table-name"><a href="{{ path('client_edit',{'id': client.id}) }}"><i class="fas fa-edit fa-2x"></i> </a></td>
            <td class="table-check"><form method="post" action="{{ path('user_delete', {'id': client.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer ce client');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.id) }}">
                    <button class="btn"><i class="fas fa-trash fa-3x"></i></button>
                </form></td>
        </tr>
    {% endfor %}
</table>