<table class="table">
    <tr class="table-title">
        <th class="table-title-name">Nom</th>
        <th class="table-title-mail">Région</th>
        <th class="table-title-level">Niveau</th>
        <th class="table-title-date">Date d'ajout</th>
        <th class="table-title-date table-edit">Editer</th>
        <th class="table-title-date table-delete">Supprimer</th>
    </tr>
{% for user in users %}
<tr>
    <td class="table-name">{{ user.name }}</td>
    <td class="table-mail">{{ user.region }}</td>
    <td class="table-level">{% for roles in user.roles %}
            {% if roles == "ROLE_ADMIN" %}administrateur
            {% elseif roles == "ROLE_SUPER_ADMIN" %}Administrateur National
            {% elseif roles == "ROLE_CLIENT" %}Client
            {% elseif roles == "ROLE_CALL_CENTER" %}Call Center
            {% endif %}
        {% endfor %}</td>
    <td class="table-date">{{ user.createdAt |format_datetime ( locale= 'fr', pattern=" EEEE dd MMMM YYYY") }}</td>
    <td class="table-name"><a href="{{ path('members_edit',{'id': user.id}) }}"><i class="fas fa-edit fa-2x colorgreen"></i></a></td>
    <td class="table-check">
        <form method="post" action="{{ path('user_delete', {'id': user.id}) }}"
              onsubmit="return confirm('êtes vous sûr de vouloir supprimer l\'utilisateur');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
            <button class="btn">
                <i class="fas fa-trash fa-3x colorgreen"></i>
            </button>
        </form>
    </td>
</tr>
{% endfor %}
</table>