<div class="navigation">
    <div class="logoNav">
        <img src="{{ asset('/img/MEDIUMLOGO.png') }}" alt="">
    </div>
    <div class="navigation-list">
        <h3>{{ app.user.name }}</h3>
        <p>{% if is_granted('ROLE_SUPER_ADMIN') %}Administrateur National{% endif %}
            {% if is_granted('ROLE_ADMIN') %}Administateur Régional{% endif %}
            {% if is_granted('ROLE_CLIENT') %}Client{% endif %}
            {% if is_granted('ROLE_CALL_CENTER') %}Call Center{% endif %}</p>
        <ul>
            <div class="menus">

                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                     viewBox="0 0 25.294 24.029">
                    <path fill="#4a4a49"
                          d="M13.807,2.319a1.265,1.265,0,0,1,1.681,0L26.87,12.437a1.265,1.265,0,1,1-1.681,1.89l-.424-.377V23.5a2.529,2.529,0,0,1-2.529,2.529H7.059A2.529,2.529,0,0,1,4.529,23.5V13.95l-.424.377a1.265,1.265,0,1,1-1.68-1.89ZM7.059,11.7V23.5h3.794V17.177a1.265,1.265,0,0,1,1.265-1.265h5.059a1.265,1.265,0,0,1,1.265,1.265V23.5h3.794V11.7L14.647,4.957Zm8.853,11.8V18.441H13.382V23.5Z"
                          transform="translate(-2 -2)" />
                </svg>

                <a href="{{ path('dashboard_controler') }}">Tableau de bord</a>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
            <div class="menus">
                <svg xmlns="http://www.w3.org/2000/svg" width="22  " height="22"
                     viewBox="0 0 24.007 24.007">
                    <path fill="#4a4a49" d="M16,11a2,2,0,1,0-2-2A2,2,0,0,0,16,11Z"
                          transform="translate(0.671 -1.665)" />
                    <path fill="#4a4a49"
                          d="M3,5.667A2.667,2.667,0,0,1,5.667,3H24.339a2.667,2.667,0,0,1,2.667,2.667V24.339a2.667,2.667,0,0,1-2.667,2.667H5.667A2.667,2.667,0,0,1,3,24.339Zm21.339,0H5.667V16.23l4.5-3.6a1.334,1.334,0,0,1,1.666,0l5.736,4.589L19.4,15.394a1.334,1.334,0,0,1,1.886,0l3.058,3.058ZM5.667,24.339H24.339V22.224l-4-4-1.724,1.724a1.334,1.334,0,0,1-1.776.1L11,15.378,5.667,19.646Z"
                          transform="translate(-3 -3)" />
                </svg>
                <a href="{{ path('client') }}">Les clients</a>
            </div>
            {% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div class="menus">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24">

                    <path fill="#4a4a49"
                          d="M20.724,3.391a1.333,1.333,0,0,1,1.886,0l4,4a1.333,1.333,0,0,1,0,1.886l-12,12a1.333,1.333,0,0,1-.943.391h-4a1.333,1.333,0,0,1-1.333-1.333v-4a1.333,1.333,0,0,1,.391-.943ZM11,16.886V19h2.114L23.781,8.333,21.667,6.219ZM3,8.333A2.667,2.667,0,0,1,5.667,5.667h6.667a1.333,1.333,0,1,1,0,2.667H5.667v16h16V17.667a1.333,1.333,0,0,1,2.667,0v6.667A2.667,2.667,0,0,1,21.667,27h-16A2.667,2.667,0,0,1,3,24.333Z"
                          transform="translate(-3 -3)" />
                </svg>
                <a href="{{ path('controleur_index') }}">Les contrôleurs</a>
            </div>
            {% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="menus">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24">

                        <path fill="#4a4a49"
                              d="M20.724,3.391a1.333,1.333,0,0,1,1.886,0l4,4a1.333,1.333,0,0,1,0,1.886l-12,12a1.333,1.333,0,0,1-.943.391h-4a1.333,1.333,0,0,1-1.333-1.333v-4a1.333,1.333,0,0,1,.391-.943ZM11,16.886V19h2.114L23.781,8.333,21.667,6.219ZM3,8.333A2.667,2.667,0,0,1,5.667,5.667h6.667a1.333,1.333,0,1,1,0,2.667H5.667v16h16V17.667a1.333,1.333,0,0,1,2.667,0v6.667A2.667,2.667,0,0,1,21.667,27h-16A2.667,2.667,0,0,1,3,24.333Z"
                              transform="translate(-3 -3)" />
                    </svg>
                    <a href="{{ path('specialite_index') }}">Les spécialitées</a>
                </div>
            {% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="menus">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24">

                        <path fill="#4a4a49"
                              d="M20.724,3.391a1.333,1.333,0,0,1,1.886,0l4,4a1.333,1.333,0,0,1,0,1.886l-12,12a1.333,1.333,0,0,1-.943.391h-4a1.333,1.333,0,0,1-1.333-1.333v-4a1.333,1.333,0,0,1,.391-.943ZM11,16.886V19h2.114L23.781,8.333,21.667,6.219ZM3,8.333A2.667,2.667,0,0,1,5.667,5.667h6.667a1.333,1.333,0,1,1,0,2.667H5.667v16h16V17.667a1.333,1.333,0,0,1,2.667,0v6.667A2.667,2.667,0,0,1,21.667,27h-16A2.667,2.667,0,0,1,3,24.333Z"
                              transform="translate(-3 -3)" />
                    </svg>
                    <a href="{{ path('departements_index') }}">Les département</a>
                </div>
            {% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div class="menus">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 23 23">

                    <path fill="#4a4a49"
                          d="M11.2,4.3a4.6,4.6,0,1,0,4.6,4.6A4.6,4.6,0,0,0,11.2,4.3ZM4.3,8.9a6.9,6.9,0,1,1,6.9,6.9A6.9,6.9,0,0,1,4.3,8.9ZM19.053,4.021a1.15,1.15,0,0,1,1.626,0,6.9,6.9,0,0,1,0,9.758,1.15,1.15,0,0,1-1.626-1.626,4.6,4.6,0,0,0,0-6.505A1.15,1.15,0,0,1,19.053,4.021Zm.807,14.95a1.15,1.15,0,0,1,1.394-.837A4.564,4.564,0,0,1,24.3,20.6,7.37,7.37,0,0,1,25,23.85a1.15,1.15,0,0,1-2.3,0,5.094,5.094,0,0,0-.454-2.217,2.269,2.269,0,0,0-1.55-1.267A1.15,1.15,0,0,1,19.859,18.971ZM7.175,20.4A3.2,3.2,0,0,0,4.3,23.85a1.15,1.15,0,0,1-2.3,0c0-3.027,2.177-5.75,5.175-5.75h8.05c3,0,5.175,2.723,5.175,5.75a1.15,1.15,0,0,1-2.3,0,3.2,3.2,0,0,0-2.875-3.45Z"
                          transform="translate(-2 -2)" />
                </svg>
                <a href="{{ path('members_members') }}">Les membres</a>
            </div>
            {% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="menus">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 23 23">

                        <path fill="#4a4a49"
                              d="M11.2,4.3a4.6,4.6,0,1,0,4.6,4.6A4.6,4.6,0,0,0,11.2,4.3ZM4.3,8.9a6.9,6.9,0,1,1,6.9,6.9A6.9,6.9,0,0,1,4.3,8.9ZM19.053,4.021a1.15,1.15,0,0,1,1.626,0,6.9,6.9,0,0,1,0,9.758,1.15,1.15,0,0,1-1.626-1.626,4.6,4.6,0,0,0,0-6.505A1.15,1.15,0,0,1,19.053,4.021Zm.807,14.95a1.15,1.15,0,0,1,1.394-.837A4.564,4.564,0,0,1,24.3,20.6,7.37,7.37,0,0,1,25,23.85a1.15,1.15,0,0,1-2.3,0,5.094,5.094,0,0,0-.454-2.217,2.269,2.269,0,0,0-1.55-1.267A1.15,1.15,0,0,1,19.859,18.971ZM7.175,20.4A3.2,3.2,0,0,0,4.3,23.85a1.15,1.15,0,0,1-2.3,0c0-3.027,2.177-5.75,5.175-5.75h8.05c3,0,5.175,2.723,5.175,5.75a1.15,1.15,0,0,1-2.3,0,3.2,3.2,0,0,0-2.875-3.45Z"
                              transform="translate(-2 -2)" />
                    </svg>
                    <a id="beneficiaires" href="{{ path('beneficiaire') }}">Les bénéficiaires</a>
                </div>
            {% endif %}
            {% if is_granted('ROLE_CLIENT') %}
            <div class="menus">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 23 23">

                    <path fill="#4a4a49"
                          d="M11.2,4.3a4.6,4.6,0,1,0,4.6,4.6A4.6,4.6,0,0,0,11.2,4.3ZM4.3,8.9a6.9,6.9,0,1,1,6.9,6.9A6.9,6.9,0,0,1,4.3,8.9ZM19.053,4.021a1.15,1.15,0,0,1,1.626,0,6.9,6.9,0,0,1,0,9.758,1.15,1.15,0,0,1-1.626-1.626,4.6,4.6,0,0,0,0-6.505A1.15,1.15,0,0,1,19.053,4.021Zm.807,14.95a1.15,1.15,0,0,1,1.394-.837A4.564,4.564,0,0,1,24.3,20.6,7.37,7.37,0,0,1,25,23.85a1.15,1.15,0,0,1-2.3,0,5.094,5.094,0,0,0-.454-2.217,2.269,2.269,0,0,0-1.55-1.267A1.15,1.15,0,0,1,19.859,18.971ZM7.175,20.4A3.2,3.2,0,0,0,4.3,23.85a1.15,1.15,0,0,1-2.3,0c0-3.027,2.177-5.75,5.175-5.75h8.05c3,0,5.175,2.723,5.175,5.75a1.15,1.15,0,0,1-2.3,0,3.2,3.2,0,0,0-2.875-3.45Z"
                          transform="translate(-2 -2)" />
                </svg>
                <a id="beneficiaires" href="{{ path('beneficiaire') }}">Les bénéficiaires</a>
            </div>
            {% endif %}

            <div class="menus">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 21 24">

                    <path fill="#4a4a49"
                          d="M13.5,4.4A4.735,4.735,0,0,0,8.833,9.2,4.735,4.735,0,0,0,13.5,14a4.735,4.735,0,0,0,4.667-4.8A4.735,4.735,0,0,0,13.5,4.4Zm-7,4.8a7.1,7.1,0,0,1,7-7.2,7.1,7.1,0,0,1,7,7.2,7.1,7.1,0,0,1-7,7.2A7.1,7.1,0,0,1,6.5,9.2Zm2.333,12a3.551,3.551,0,0,0-3.5,3.6A1.167,1.167,0,1,1,3,24.8a5.918,5.918,0,0,1,5.833-6h9.333A5.918,5.918,0,0,1,24,24.8a1.167,1.167,0,1,1-2.333,0,3.551,3.551,0,0,0-3.5-3.6Z"
                          transform="translate(-3 -2)" />
                </svg>
                <a href="{{ path('user_edit', {'id': app.user.id} ) }}">Mon profil</a>
            </div>
            <div class="menus">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 30 24">

                    <path fill="#007f3d"
                          d="M2,7A3,3,0,0,1,5,4H18.5a3,3,0,0,1,3,3v3a1.5,1.5,0,0,1-3,0V7H5V25H18.5V22a1.5,1.5,0,0,1,3,0v3a3,3,0,0,1-3,3H5a3,3,0,0,1-3-3Zm22.939,3.439a1.5,1.5,0,0,1,2.121,0l4.5,4.5a1.5,1.5,0,0,1,0,2.121l-4.5,4.5a1.5,1.5,0,0,1-2.121-2.121L26.879,17.5H12.5a1.5,1.5,0,0,1,0-3H26.879l-1.939-1.939A1.5,1.5,0,0,1,24.939,10.439Z"
                          transform="translate(-2 -4)" />
                </svg>
                <a class="deconnexion" href="{{ path('app_logout') }}">Déconnexion</a>
            </div>






        </ul>
    </div>
</div>