<div class="navigation">
    <div class="logoNav">
        <img src="{{ asset('/img/MEDIUMLOGO.png') }}" alt="">
    </div>
    <div class="navigation-list">
        <h3>{{ app.user.name }}</h3>
        <p>{% if is_granted('ROLE_SUPER_ADMIN') %}Administrateur National{% endif %}
            {% if is_granted('ROLE_ADMIN') %}Administateur Régional{% endif %}
            {% if is_granted('ROLE_CLIENT') %}Client{% endif %}
            {% if is_granted('ROLE_CALL_CENTER') %}Call Center{% endif %}</p>
        <ul>
            <div class="menus">
                <i class="fas fa-home"></i>
                <a href="{{ path('dashboard_controler') }}">Tableau de bord</a>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="menus">
                    <i class="fas fa-users"></i>
                    <a href="{{ path('client') }}">Les clients</a>
                </div>
            {% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="menus">
                    <i class="fas fa-users"></i>
                    <a href="{{ path('client') }}">Les clients</a>
                </div>
            {% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="menus">
                    <i class="fas fa-user-check"></i>
                    <a href="{{ path('controleur_index') }}">Les contrôleurs</a>
                </div>
            {% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="menus">
                    <i class="fas fa-user-tag"></i>
                    <a href="{{ path('specialite_index') }}">Les spécialitées</a>
                </div>
            {% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="menus">
                    <i class="fas fa-globe-europe"></i>
                    <a href="{{ path('departements_index') }}">Les département</a>
                </div>
            {% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="menus">
                    <i class="fas fa-globe-europe"></i>
                    <a href="{{ path('region_index') }}">Les régions</a>
                </div>
            {% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="menus">
                    <i class="fas fa-users-cog"></i>
                    <a href="{{ path('members_members') }}">Les membres</a>
                </div>
            {% endif %}
            {% if is_granted('ROLE_CALL_CENTER') %}
                <div class="menus">
                    <i class="far fa-address-book"></i>
                    <a id="beneficiaires" href="{{ path('beneficiaire') }}">Les bénéficiaires</a>
                </div>
            {% endif %}
            {% if is_granted('ROLE_CLIENT') %}
                <div class="menus">
                    <i class="far fa-address-book"></i>
                    <a id="beneficiaires" href="{{ path('beneficiaire') }}">Les bénéficiaires</a>
                </div>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <div class="menus">
                    <i class="far fa-address-book"></i>
                    <a id="beneficiaires" href="{{ path('beneficiaire') }}">Les bénéficiaires</a>
                </div>
            {% endif %}
            <div class="menus">
                <i class="fas fa-address-card"></i>
                <a href="{{ path('user_edit', {'id': app.user.id} ) }}">Mon profil</a>
            </div>
            <div class="menus">
                <i class="fas fa-sign-out-alt colorgreen"></i>
                <a class="deconnexion" href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        </ul>
    </div>
</div>