<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:v="urn:schemas-microsoft-com:vml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
    <title>Information rendez-vous</title>
    <style type="text/css">
        .info tr td:first-of-type {
            text-align: left;
            font-weight: bold;
        }

        .info tr td:last-of-type {
            text-align: right;
        }

        .info h2 {
            text-align: left;
            color: #007F3D;
        }

        h2 {
            margin: 30px 0;
        }

        h1 {
            margin: 80px 0 50px 0;
        }

        .info td:not(.last) {
            border-bottom: 1px solid #BCBCBC;
        }

        body {
            font-family: 'Montserrat', sans-serif;
        }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body bgcolor="#F5F5F5" style="margin:0;" align="center">

<table border="0" width="100%" cellpadding="0" cellspacing="0">
    <tr bgcolor="#FFF">
        <td height="70" style="text-align:center;padding: 20px 0;box-shadow: 5px 5px 30px #00000005;">
            <img src="{{ absolute_url(asset('img/logo-dekra.jpg')) }}" width="auto" height="70" border="0"
                 alt="logo dekra">
        </td>
    </tr>
    <tr>
        <td>
            <h1>Bonjour {{ controleur.prenom }} {{ controleur.nom }}
            </h1>
        </td>
    </tr>
</table>

<table border="0" width="80%" cellpadding="0" cellspacing="0"
       style="margin: auto;background: #FFFFFF;box-shadow: 5px 5px 30px #00000005;border-radius: 10px;padding:30px 50px;max-width:850px;">
    <tr>
        <td>
            <p style="margin: 0 0 25px 0;">Nous vous informons qu’un rendez-vous a été pris le :</p>
            <p><b>{{ date |date('d-m-Y') }}</b> à <b>{{ date |date('H:i') }}</b></p>
            <p>chez <b>{{ beneficiaire.name }} {{ beneficiaire.prenom }}</b></p>
            <p>à l'adresse <b>{{ beneficiaire.adresse }} {{ beneficiaire.codePostal }} {{ beneficiaire.ville }}</b></p>
        </td>
    </tr>
</table>

<table border="0" width="80%" cellpadding="0" cellspacing="0" style="margin: auto;max-width:850px;">
    <tr>
        <p style="margin: 50px 0 25px 0;">Vous trouverez toutes les informations complémentaires ci-dessous :</p>
    </tr>
</table>

<table class="info" border="0" width="80%" cellpadding="0" cellspacing="0"
       style="background: #FFFFFF;box-shadow: 5px 5px 30px #00000005;border-radius: 10px;margin:0 auto 50px auto;padding:30px 50px;max-width:850px;">
    <tr>
        <td class="last" colspan="2">
            <h2>Informations sur le demandeur</h2>
        </td>
    </tr>
    <tr>
        <td>
            <p>Raison sociale</p>
        </td>
        <td>
            <p>{{ beneficiaire.raisonSocialeDemandeur }}</p>
        </td>
    </tr>
    <tr></tr>
    <tr>
        <td>
            <p>SIREN</p>
        </td>
        <td>
            <p>{{ beneficiaire.sirenDemandeur }}</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Référence EMMY</p>
        </td>
        <td>
            <p>{{ beneficiaire.referenceEmmyDemande }}</p>
        </td>
    </tr>
    <tr>
        <td class="last">
            <p>Référence interne</p>
        </td>
        <td class="last">
            <p>{{ beneficiaire.referenceInterne }}</p>
        </td>
    </tr>
    <tr>
        <td class="last" colspan="2">
            <h2>Informations sur le bénéficiaire</h2>
        </td>
    </tr>
    <tr>
        <td>
            <p>Nom du bénéficiaire</p>
        </td>
        <td>
            <p>{{ beneficiaire.name }}</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Prénom du bénéficiaire</p>
        </td>
        <td>
            <p>{{ beneficiaire.prenom }}</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Adresse</p>
        </td>
        <td>
            <p>{{ beneficiaire.adresse }}</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Code postal</p>
        </td>
        <td>
            <p>{{ beneficiaire.codePostal }}</p>
        </td>
    </tr>
    <td>
        <p>Ville</p>
    </td>
    <td>
        <p>{{ beneficiaire.ville }}</p>
    </td>
    </tr>
    <tr>
        <td>
            <p>Numéro de téléphone</p>
        </td>
        <td>
            <p>{{ beneficiaire.telephone }}</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Adresse mail</p>
        </td>
        <td>
            <p>{{ beneficiaire.email }}</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Volume hors précarité</p>
        </td>
        <td>
            <p>{{ beneficiaire.volumeHorsPrecarite }} kWh</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Volume précarité</p>
        </td>
        <td>
            <p>{{ beneficiaire.volumePrecarite }} kWh</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Référence de la fiche</p>
        </td>
        <td>
            <p>{{ beneficiaire.referenceFicheOperation }}</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Date d'engagement</p>
        </td>
        <td>
            <p>{{ beneficiaire.dateEngagementOperation }}</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Date de la facture</p>
        </td>
        <td>
            <p>{{ beneficiaire.dateFacture }}</p>
        </td>
    </tr>
    <tr>
        <td class="last">
            <p>Nature de la bonification</p>
        </td>
        <td class="last">
            <p>{{ beneficiaire.natureBonification }}</p>
        </td>
    </tr>
    <tr>
        <td class="last">
            <p>SIREN du professionnel</p>
        </td>
        <td class="last">
            <p>{{ beneficiaire.sirenDuProfesionnel }}</p>
        </td>
    </tr>
    <tr>
        <td class="last">
            <p>raison sociale du professionnel</p>
        </td>
        <td class="last">
            <p>{{ beneficiaire.raisonSocialDuProfessionnel }}</p>
        </td>
    </tr>
    <tr>
        <td class="last" colspan="2">
            <h2>Informations sur l'entreprise</h2>
        </td>
    </tr>
    <tr>
        <td>
            <p>SIREN de l'entreprise</p>
        </td>
        <td>
            <p>{{ beneficiaire.sirenDemandeur }}</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Raison social de l'entreprise</p>
        </td>
        <td>
            <p>{{ beneficiaire.raisonSocialeDemandeur }}</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>SIREN du sous-traitant</p>
        </td>
        <td>
            <p>{{ beneficiaire.sirenSousTraitant }}</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Raison social du sous-traitant</p>
        </td>
        <td>
            <p>{{ beneficiaire.sirenSousTraitant }}</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Nature du rôle actif incitatif</p>
        </td>
        <td>
            <p>{{ beneficiaire.natureDuRoleActifIncitatif }}</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>SIREN de l’organisme de contrôle</p>
        </td>
        <td>
            <p>{{ beneficiaire.sirenOrganismeControle }}</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Raison social de l’organisme de contrôle</p>
        </td>
        <td>
            <p>{{ beneficiaire.raisonSocialeOrganismeControle }}</p>
        </td>
    </tr>
    <tr>
        <td class="last">
            <p>SIRET de l’entreprise ayant réalisé l’opération</p>
        </td>
        <td class="last">
            <p>{{ beneficiaire.siretEntrepriseAyantRealiseOperation }}</p>
        </td>
    </tr>
    <tr>
        <td class="last">
            <p>Actions correctives menées suite à l'audit</p>
        </td>
        <td class="last">
            <p>{{ beneficiaire.actionCorrectiveMeneeSuiteAudit }}</p>
        </td>
    </tr>
    <tr>
        <td class="last">
            <p>Conformité après correction </p>
        </td>
        <td class="last">
            <p>{{ beneficiaire.conformiteApresCorrection }}</p>
        </td>
    </tr>
    <tr>
        <td class="last">
            <p>opération retirée du dossier / opération issue d'un précédent dossier et redéposée post-correction</p>
        </td>
        <td class="last">
            <p>{{ beneficiaire.operationRetireOuIssueDossierPrecedent }}</p>
        </td>
    </tr>
    <tr>
        <td class="last">
            <p>Commentaires généraux</p>
        </td>
        <td class="last">
            <p>{{ beneficiaire.commentaireGeneraux }}</p>
        </td>
    </tr>
    <tr>
        <td class="last">
            <p>Grand Précaire / Précaire / Classique</p>
        </td>
        <td class="last">
            <p>{{ beneficiaire.grandPrecairePrecaireClassique }}</p>
        </td>
    </tr>
    <tr>
        <td class="last">
            <p>Version du coup de pouce</p>
        </td>
        <td class="last">
            <p>{{ beneficiaire.versionCoupDePouce }}</p>
        </td>
    </tr>
</table>

</body>
</html>