<div class="logo">
    <img src="{{ asset('/img/MEDIUMLOGO.png') }}" alt="LogoDekra">
</div>
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {% if app.user %}
        <div class="mb-3">
            Vous etes Connecté en tant que {{ app.user.name }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    {% endif %}
    <label for="inputEmail"></label><input type="email" value="{{ last_username }}" placeholder="Email" name="email" id="inputEmail" autocomplete="email" required autofocus>
    <label for="inputPassword"></label><input type="password" name="password" id="inputPassword" placeholder="Mot de passe" autocomplete="current-password" required>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">
    <a href="{{path('app_forgot_password_request')}}">Mot de passe oublié ?</a>
    <button class="buttongreen" type="submit">
        Se connecter
    </button>
</form>