{% extends 'base.html.twig' %}

{% block title %}Bénéficiaires{% endblock %}

{% block body %}
    <div class="main">
        {{ include('include/_navigation.html.twig') }}
        <div class="content">
            <div class="container">
                <h4>Les bénéficiaires</h4>
                <div class="search-container">
                    <div class="search-controleurs">
                        {{ form_start(form) }}
                        {{ form_row(form.name, {'attr': {'class': 'search-container-select'}}) }}
                        <button class="btn-submit" type="submit"><i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                        {{ form_end(form) }}
                    </div> {% if is_granted('ROLE_CLIENT') %}
                        <div class="addanddelete">
                            <div class="addicon">
                                <a href="{{ path('beneficiaire_new') }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 19 19">
                                        <defs>
                                            <style>
                                                .a {
                                                    fill: #0d0d0d;
                                                }
                                            </style>
                                        </defs>
                                        <path
                                                d="M13.5,4a1.187,1.187,0,0,1,1.188,1.188v7.125h7.125a1.188,1.188,0,0,1,0,2.375H14.688v7.125a1.187,1.187,0,0,1-2.375,0V14.688H5.188a1.188,1.188,0,0,1,0-2.375h7.125V5.188A1.187,1.187,0,0,1,13.5,4Z"
                                                transform="translate(-4 -4)"/>
                                    </svg>
                                </a>

                            </div>

                        </div>
                    {% endif %}
                </div>
                {% if is_granted('ROLE_CLIENT') %}
                    tableau en cours de creation
{#                {{ include('') }}#}
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    {{ include('include/_adminBeneficiaireView.html.twig') }}
                {% endif %}

                <div class="pagination">
                    <div class="navigation-knp">
                        {{ knp_pagination_render(beneficiaires) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

{% endblock %}