{% extends 'base.html.twig' %}

{% block title %}Bénéficiaires{% endblock %}

{% block body %}
    <div class="main">

        {{ include('include/_navigation.html.twig') }}

        <div class="content">

            <div class="container">
                {% for message in app.flashes('success') %}
                    <div class="alert success-alert">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('danger') %}
                    <div class="alert danger-alert">{{ message }}</div>
                {% endfor %}
                {% for message in app.flashes('success') %}
                    <div class="alert success-alert">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('danger') %}
                    <div class="alert danger-alert">{{ message }}</div>
                {% endfor %}
                <h4>Les bénéficiaires</h4>
                <div class="search-container">

                    <div class="search-controleurs">
                        {{ form_start(form) }}
                        {{ form_row(form.name, {'attr': {'class': 'search-container-select'}}) }}
                        <button class="btn-submit" type="submit"><i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                        {{ form_end(form) }}
                    </div>
                    <div class="addanddelete">
                        <div class="addicon">
                            <a href="{{ path('beneficiaire_new') }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 19 19">
                                    <defs>
                                        <style>
                                            .a {
                                                fill: #0d0d0d;
                                            }
                                        </style>
                                    </defs>
                                    <path
                                            d="M13.5,4a1.187,1.187,0,0,1,1.188,1.188v7.125h7.125a1.188,1.188,0,0,1,0,2.375H14.688v7.125a1.187,1.187,0,0,1-2.375,0V14.688H5.188a1.188,1.188,0,0,1,0-2.375h7.125V5.188A1.187,1.187,0,0,1,13.5,4Z"
                                            transform="translate(-4 -4)"/>
                                </svg>
                            </a>

                        </div>

                    </div>
                </div>

                <div class="table">
                    <table>
                        <tr class="table-title">
                            <th class="table-title-name">Bénéficiaires</th>
                            <th class="table-title-date">Adresse</th>
                            <th class="table-title-date">Code postal</th>
                            <th class="table-title-date">Ville</th>
                            <th class="table-title-date">Supprimer</th>
                        </tr>
                        {% for b in beneficiaires %}
                            <tr>
                                <td class="table-name">{{ b.name }} {{ b.prenom }}</td>
                                <td class="table-date">{{ b.adresse }}</td>
                                <td class="table-date">{{ b.codePostal }}</td>
                                <td class="table-date">{{ b.ville }}</td>
                                <td class="table-name"><a href="{{ path('client_edit',{'id': b.id}) }}">Edit</a></td>
                                <td class="table-check">
                                    <form method="post" action="{{ path('user_delete', {'id': b.id}) }}"
                                          onsubmit="return confirm('Are you sure you want to delete this item?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ b.id) }}">
                                        <button class="btn">
                                            <div class="delicon">

                                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                                     viewBox="0 0 20 20">
                                                    <defs>
                                                        <style>
                                                            .a {
                                                                fill: #0d0d0d;
                                                            }
                                                        </style>
                                                    </defs>
                                                    <path
                                                            d="M7,4A2,2,0,0,1,9,2h6a2,2,0,0,1,2,2V6h4a1,1,0,0,1,0,2H19.931l-.867,12.142A2,2,0,0,1,17.069,22H6.931a2,2,0,0,1-1.995-1.858L4.069,8H3A1,1,0,0,1,3,6H7ZM9,6h6V4H9ZM6.074,8l.857,12H17.069l.857-12ZM10,10a1,1,0,0,1,1,1v6a1,1,0,0,1-2,0V11A1,1,0,0,1,10,10Zm4,0a1,1,0,0,1,1,1v6a1,1,0,0,1-2,0V11A1,1,0,0,1,14,10Z"
                                                            transform="translate(-2 -2)"/>
                                                </svg>
                                            </div>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="pagination">
                    <div class="navigation">
                        {{ knp_pagination_render(beneficiaires) }}
                    </div>
                    <div class="affichage-page">
                        Page 1 sur 6
                    </div>
                    <div class="icones-page">
                        <div class="precedent">
                            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12"
                                 viewBox="0 0 8 14">
                                <path
                                        d="M.293,7.707a1,1,0,0,0,1.414,0L7,2.414l5.293,5.293a1,1,0,0,0,1.414-1.414l-6-6a1,1,0,0,0-1.414,0l-6,6A1,1,0,0,0,.293,7.707Z"
                                        transform="translate(0 14) rotate(-90)"/>
                            </svg>
                        </div>
                        <div class="suivant">
                            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12"
                                 viewBox="0 0 8 14">
                                <defs>
                                    <style>
                                        .a {
                                            fill: #0d0d0d;
                                        }
                                    </style>
                                </defs>
                                <path
                                        d="M5.293,9.293a1,1,0,0,1,1.414,0L12,14.586l5.293-5.293a1,1,0,0,1,1.414,1.414l-6,6a1,1,0,0,1-1.414,0l-6-6A1,1,0,0,1,5.293,9.293Z"
                                        transform="translate(-9 19) rotate(-90)"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>

{% endblock %}
{% block javascripts %}

{% endblock %}