{% extends 'base.html.twig' %}
{% block title %}Ajout bénéficiaires{% endblock %}
{% block body %}
<div class="main">
    {{ include('include/_navigation.html.twig') }}
    <div class="content">
        <div class="container">
            <div class="titlereturn">
                <h4>Ajout d'un lot de bénéficiaire</h4>
                <a href="{{ path('beneficiaire') }}" class="buttonreturn"><i class="fas fa-undo"></i> Retour</a>
            </div>
            <div class="lot-controleur">
                <h3>Ajout d'un lot</h3>
                {{ form_start(form) }}
                <div class="selectbeneficiaire">
                    {{ form_row(form.select) }}
                </div>
                {{ form_row(form.fichier) }}
                    <label for="file">Format fichier excel seulement</label>
                <button class="buttongreen">Ajouter le lot</button>
                {{ form_end(form) }}
            </div>
            <div>
                <a class="selectbeneficiaire " href="{{ asset('uploads/BENEFICIAIRE_PERSONNE_MORALE.xlsx') }}" download="feuille_beneficiaire_morale.xlsx">Téléchargement feuille vierge pour personne morale <i class="fas fa-upload"></i></a>
            </div>
            <br>
            <div>
                <a class="selectbeneficiaire" href="{{ asset('uploads/BENEFICIAIRE_PERSONNE_PHYSIQUE.xlsx') }}" download="feuille_beneficiaire_physique.xlsx">Téléchargement feuille vierge pour personne physique <i class="fas fa-upload"></i></a>
            </div>
        </div>
    </div>

</div>
{% endblock %}
