{% extends 'base.html.twig' %}
{% block title %}DEKRA{% endblock %}
{% block body %}
    <div class="main">
        {{ include('include/_navigation.html.twig') }}
        <div class="content">
            <div class="welcome-container">
                  {% if is_granted('ROLE_SUPER_ADMIN') %}
                {{ include('include/_superAdminAccueilView.html.twig') }}
                 {% endif %}
                {% if is_granted('ROLE_CONTROLLER') %}
                    {{ include('include/_controllerAccueilView.html.twig') }}
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    {{ include('include/_adminAcceuilView.html.twig') }}
                {% endif %}
                {% if is_granted('ROLE_CLIENT') %}
                    {{ include('include/_clientAcceuilView.html.twig') }}
                {% endif %}
                {% if is_granted('ROLE_CALL_CENTER') %}
                    {{ include('include/_callCenterAcceuilView.html.twig') }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
