{% extends 'base.html.twig' %}

{% block title %}Contrôleurs{% endblock %}

{% block body %}
    <div class="main">
        {{ include('include/_navigation.html.twig') }}
        <div class="content">
            <div class="container">
                <div class="titlereturn">
                    <h4>Modifier le contrôleur</h4>
                    <a href="{{ path('controleur_index') }}" class="buttonreturn"><i class="fas fa-undo"></i> Retour</a>
                </div>
                {{ form_start(form) }}
                <div class="profil">
                    <div class="name">
                        <p>Nom</p>
                        {{ form_row(form.nom) }}
                    </div>
                    <div class="name">
                        <p>Prénom</p>
                        {{ form_row(form.prenom) }}
                    </div>
                    <div class="name">
                        <p>Email</p>
                        {{ form_row(form.email) }}
                    </div>
                    <div class="name">
                        <p>Téléphone</p>
                        {{ form_row(form.telnumber) }}
                    </div>
                    <div class="name">
                        <p>Départements</p>
                        {{ form_row(form.departement) }}
                    </div>
                    <div class="name">
                        <p>Spécialités</p>
                        {{ form_row(form.specialite) }}
                    </div>

                    <button type="submit" class="buttongreen">Enregistrer</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

    </div>

{#    {{ include('controleur/_delete_form.html.twig') }}#}
{% endblock %}
