{% extends 'base.html.twig' %}

{% block title %}CLients{% endblock %}

{% block body %}
    <div class="main">

        {{ include('include/_navigation.html.twig') }}

        <div class="content">

            <div class="container">
                {% for message in app.flashes('success') %}
                    <div class="alert success-alert">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('danger') %}
                    <div class="alert danger-alert">{{ message }}</div>
                {% endfor %}
                <h4>Les clients</h4>
                <div class="search-container">
                    <div class="search-input">
                        <svg class="iconsearch" xmlns="http://www.w3.org/2000/svg" width="53 " height="43"
                             viewBox="0 0 23.414 24.414">
                            <defs>
                                <style>
                                    .a,
                                    .c {
                                        fill: white;
                                    }

                                    .a {
                                        stroke: #000;
                                        stroke-linecap: round;
                                        stroke-width: 2px;
                                    }

                                    .b {
                                        stroke: none;
                                    }
                                </style>
                            </defs>
                            <g transform="translate(-559 -341.469)">
                                <g class="a" transform="translate(559 341.469)">
                                    <ellipse class="b" cx="8.767" cy="8.767" rx="8.767" ry="8.767" />
                                    <ellipse class="c" cx="8.767" cy="8.767" rx="7.767" ry="7.767" />
                                </g>
                                <path class="a" d="M12333.379,179.471l-8.019-8.085"
                                      transform="translate(-11752.379 184.998)" />
                            </g>
                        </svg>
                        <input type="search" placeholder="Rechercher un client">
                    </div>
                    <div class="addanddelete">
                        <div class="addicon">
                            <a href="{{ path('client_new') }}"> <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 19 19">
                                    <defs>
                                        <style>
                                            .a {
                                                fill: #0d0d0d;
                                            }
                                        </style>
                                    </defs>
                                    <path
                                            d="M13.5,4a1.187,1.187,0,0,1,1.188,1.188v7.125h7.125a1.188,1.188,0,0,1,0,2.375H14.688v7.125a1.187,1.187,0,0,1-2.375,0V14.688H5.188a1.188,1.188,0,0,1,0-2.375h7.125V5.188A1.187,1.187,0,0,1,13.5,4Z"
                                            transform="translate(-4 -4)" />
                                </svg></a>

                        </div>
{#                        <div class="delicon">#}
{#                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 20 20">#}
{#                                <defs>#}
{#                                    <style>#}
{#                                        .a {#}
{#                                            fill: #0d0d0d;#}
{#                                        }#}
{#                                    </style>#}
{#                                </defs>#}
{#                                <path#}
{#                                        d="M7,4A2,2,0,0,1,9,2h6a2,2,0,0,1,2,2V6h4a1,1,0,0,1,0,2H19.931l-.867,12.142A2,2,0,0,1,17.069,22H6.931a2,2,0,0,1-1.995-1.858L4.069,8H3A1,1,0,0,1,3,6H7ZM9,6h6V4H9ZM6.074,8l.857,12H17.069l.857-12ZM10,10a1,1,0,0,1,1,1v6a1,1,0,0,1-2,0V11A1,1,0,0,1,10,10Zm4,0a1,1,0,0,1,1,1v6a1,1,0,0,1-2,0V11A1,1,0,0,1,14,10Z"#}
{#                                        transform="translate(-2 -2)" />#}
{#                            </svg>#}
{#                        </div>#}
                    </div>
                </div>


                <div class="table">
                    <table>
                        <tr class="table-title">
                            <th class="table-title-name">Nom du client</th>
                            <th class="table-title-date">Date d'ajout</th>
                            <th class="table-title-date">Editer</th>
                            <th class="table-title-date">Supprimer</th>
                        </tr>
                        {% for client in clients %}
                            <tr>
                                <td class="table-name">{{ client.name }}</td>
                                <td class="table-date">{{ client.createdAt |format_datetime ( locale= 'fr', pattern=" EEEE dd MMMM YYYY HH:mm") }}</td>
                                <td class="table-name"><a href="{{ path('client_edit',{'id': client.id}) }}">Edit</a></td>
                            <td class="table-check"><form method="post" action="{{ path('user_delete', {'id': client.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.id) }}">
                                    <button class="btn"><div class="delicon">

                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 20 20">
                                                <defs>
                                                    <style>
                                                        .a {
                                                            fill: #0d0d0d;
                                                        }
                                                    </style>
                                                </defs>
                                                <path
                                                        d="M7,4A2,2,0,0,1,9,2h6a2,2,0,0,1,2,2V6h4a1,1,0,0,1,0,2H19.931l-.867,12.142A2,2,0,0,1,17.069,22H6.931a2,2,0,0,1-1.995-1.858L4.069,8H3A1,1,0,0,1,3,6H7ZM9,6h6V4H9ZM6.074,8l.857,12H17.069l.857-12ZM10,10a1,1,0,0,1,1,1v6a1,1,0,0,1-2,0V11A1,1,0,0,1,10,10Zm4,0a1,1,0,0,1,1,1v6a1,1,0,0,1-2,0V11A1,1,0,0,1,14,10Z"
                                                        transform="translate(-2 -2)"/>
                                            </svg>
                                        </div></button>
                                </form></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="pagination">
                    <div class="navigation">
                        {{ knp_pagination_render(clients) }}
                    </div>
                    <div class="affichage-page">
                        Page 1 sur 6
                    </div>
                    <div class="icones-page">
                        <div class="precedent"><svg xmlns="http://www.w3.org/2000/svg" width="6" height="12"
                                                    viewBox="0 0 8 14">
                                <path
                                        d="M.293,7.707a1,1,0,0,0,1.414,0L7,2.414l5.293,5.293a1,1,0,0,0,1.414-1.414l-6-6a1,1,0,0,0-1.414,0l-6,6A1,1,0,0,0,.293,7.707Z"
                                        transform="translate(0 14) rotate(-90)" />
                            </svg></div>
                        <div class="suivant"><svg xmlns="http://www.w3.org/2000/svg" width="6" height="12"
                                                  viewBox="0 0 8 14">
                                <defs>
                                    <style>
                                        .a {
                                            fill: #0d0d0d;
                                        }
                                    </style>
                                </defs>
                                <path
                                        d="M5.293,9.293a1,1,0,0,1,1.414,0L12,14.586l5.293-5.293a1,1,0,0,1,1.414,1.414l-6,6a1,1,0,0,1-1.414,0l-6-6A1,1,0,0,1,5.293,9.293Z"
                                        transform="translate(-9 19) rotate(-90)" />
                            </svg></div>
                    </div>
                </div>
            </div>



        </div>

    </div>

{% endblock %}
