{% extends 'base.html.twig' %}

{% block title %}CLients{% endblock %}

{% block body %}
    <div class="main">
        {{ include('include/_navigation.html.twig') }}
        <div class="content">
            <div class="container">
                <h4>Les clients</h4>
                <div class="search-container">
                    <div class="search-input">
                        <form id="filters">
                            <input class="members-search" id="members-search" type="text"
                                   placeholder="Rechercher un client">
                        </form>
                    </div>
                    <div class="addanddelete">
                        <div class="addicon">
                            <a href="{{ path('client_new') }}"> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="24" width="24">
                                    <path xmlns="http://www.w3.org/2000/svg" d="M12 4C12.5523 4 13 4.44772 13 5V11H19C19.5523 11 20 11.4477 20 12C20 12.5523 19.5523 13 19 13H13V19C13 19.5523 12.5523 20 12 20C11.4477 20 11 19.5523 11 19V13H5C4.44772 13 4 12.5523 4 12C4 11.4477 4.44772 11 5 11H11V5C11 4.44772 11.4477 4 12 4Z" fill="#0D0D0D"/>
                                </svg></a>
                        </div>
                    </div>
                </div>
                <div class="table" id="response-content">
                    {{ include('include/_clientContent.html.twig') }}
                </div>
                <div class="pagination">
                    <div class="navigation-knp">
                        {{ knp_pagination_render(clients) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/ClientSearch.js') }}"></script>
{% endblock %}
