{% extends 'base.html.twig' %}

{% block title %}CLients{% endblock %}

{% block body %}
    <div class="main">
        {{ include('include/_navigation.html.twig') }}
        <div class="content">
            <div class="container">
                <div class="titlereturn">
                    <h4>Ajout d'un client</h4>
                    <a href="{{ path('client') }}" class="buttonreturn"><i class="fas fa-undo"></i> Retour</a>
                </div>
                {{ form_start(form) }}
                <div class="profil">
                    <div class="name">
                        <p>Nom du client</p>
                        {{ form_row(form.name) }}
                    </div>
                    <div class="mail">
                        <p>Adresse mail</p>
                        {{ form_row(form.email) }}
                    </div>
                    <div class="mail">
                        <p>Numéro de téléphone</p>
                        {{ form_row(form.telephone) }}
                    </div>
                    <div>
                        <button class="buttongreen">Ajouter un client</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>

        </div>

    </div>
{% endblock %}