{% extends 'base.html.twig' %}
{% block title %}Mon profil{% endblock %}
{% block body %}
    <div class="main">
        {{ include('include/_navigation.html.twig') }}
        <div class="content">
            <div class="container">
                <div class="titlereturn">
                    <h4>Votre profil</h4>
                    <a href="{{ path('dashboard_controler') }}" class="buttonreturn"><i class="fas fa-undo"></i> Retour</a>
                </div>
                {{ form_start(form) }}
                <div class="profil">
                    <div class="name">
                        <p>Nom</p>
                        {{ form_row(form.name) }}
                    </div>
                    <div class="mdp">
                        <p>Mot de passe</p>
                        {{ form_row(form.password.first) }}
                    </div>
                    <div class="mail">
                        <p>Email</p>
                        {{ form_row(form.email) }}

                    </div>
                    <div class="mdp-confirm">
                        <p>Confirmation du mot de passe</p>
                        {{ form_row(form.password.second) }}
                    </div>
                    <button type="submit" class="buttongreen">Enregistrer</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
