{% for r in result %}
    <tr>
        <td class="table-name">
                <a href="{{ path('call_center_Rdv',{ref:idRef,id:r.id}) }}">
                    {% if r.personneMorale == 1 %}
                        {{ r.nomDuSiteBeneficiaireOperation }}
                    {% else %}
                        {{ r.name }} {{ r.prenom }}
                    {% endif %}</a>
        </td>
        <td class="table-name">{% if r.codePostal|length <=4 %}0{% endif %}{{ r.codePostal }}</td>
        <td class="table-name">{{ r.ville }}</td>
        {% if (r.rdv== null) %}
            <td class="table-name">
                <p>En attente</p>
            </td>
        {% else %}
            {% if date('now')> date(r.rdv) %}
                <td class="table-name">
                    <p>Contrôlé</p>
                </td>
            {% else %}
                <td class="table-name">
                    <p>En cours</p>
                </td>
            {% endif %}
        {% endif %}
    </tr>
{% endfor %}
