{% extends 'base.html.twig' %}

{% block title %}Bénéficiaires{% endblock %}

{% block body %}
<div class="main">
    {{ include('include/_navigation.html.twig') }}
    <div class="content">
        <div class="container">
            <h4>Références Emmy</h4>
            <div class="search-container">
                <div class="search-controleurs">
                </div>
            </div>
                <div class="table">
                    <table>
                        <tr class="table-title">
                            <th class="table-title-name paddingleft20px">Référence Emmy</th>
                            <th class="table-title-date">Pourcentage total complété</th>
                            <th class="table-title-date">Validation</th>
                        </tr>
                        {% for r in reference %}
                            {% for ref in r  %}
                                <tr>
                                <td class="table-name paddingleft20px">{{ ref }}</td>
                                <td class="table-date"></td>
                                <td class="table-date"></td>

                                </tr>
                            {% endfor %}



{#                                    <a href="#" >{{ r }}</a>#}
{#                                     <a href="{{ path('call_center_client',{'id': c.id}) }}">{{ c.name }}</a>#}



                        {% endfor %}
                    </table>
                </div>   </div>
                <div class="pagination">
                    <div class="navigation-knp">
                    </div>
                </div>
    </div>
    {% endblock %}
    {% block javascripts %}

{% endblock %}