{% extends 'base.html.twig' %}

{% block title %}Bénéficiaires{% endblock %}

{% block body %}
    <div class="main">
        {{ include('include/_navigation.html.twig') }}
        <div class="content">
            <div class="container">

                <div class="titlereturn">
                    <h4>Les bénéficiaires</h4>
                    <a href="{{ path('call_center_client',{id: clientid}) }}" class="buttonreturn"><i
                                class="fas fa-undo"></i> Retour</a>
                </div>


                {% if  beneficiaires |length == 0 %}
                    {% set pourcentage = 0 %}
                {% else %}
                    {% set pourcentage = ((100*rdv) / beneficiaires |length) | number_format(2) %}
                {% endif %}
                <table>
                    <tr>
                        <th class="table-title-name paddingleft20px">Nomenclature de la recherche</th>
                        <th class="table-title-name paddingright20px">pourcentage controlé</th>
                    </tr>
                    <tr>
                        <td class="table-name paddingleft20px">
                            {% if beneficiaires == null %}
                                Aucun résultat
                            {% else %}
                                {% for b in beneficiaires| slice(0,1) %}
                                    {{ b.client.name }}, ref EMMY {{ b.referenceEmmyDemande }}
                                    , {% if b.personneMorale == 1 %}personne morale{% else %}personne physique{% endif %},
                                    précarité: {{ b.grandPrecairePrecaireClassique }}

                                {% endfor %}
                            {% endif %}
                        </td>
                        <td class="table-name paddingright20px">
                            <progress id="file" value="{{ pourcentage }}" max="100"></progress>{{ pourcentage }}%
                        </td>
                    </tr>
                </table>


                <div class="search-container">
                    <div class="search-controleurs">
                    </div>
                </div>

                <div class="table">
                    <table>
                        <tr class="table-title">
                            <th class="table-title-name paddingleft20px">Bénéficiaires</th>
                            <th class="table-title-date">adresse email</th>
                            <th class="table-title-date">Téléphone</th>
                            <th class="table-title-date">Date RDV</th>
                            <th class="table-title-date">Statut</th>
                        </tr>
                        {% for b in beneficiaires %}
                            <tr>
                                <td class="table-name paddingleft20px"><a
                                            href="{{ path('call_center_Rdv',{'id': b.id}) }}">{% if b.personneMorale == 0 %}{{ b.name }} {{ b.prenom }}{% else %}{{ b.RaisonSocialeDemandeur }}{% endif %}</a>
                                </td>
                                <td class="table-date">{{ b.email }}</td>
                                <td class="table-date">{{ b.telephone }}</td>
                                {% if (b.rdv == null) %}
                                    <td class="table-date">

                                    </td>
                                {% else %}
                                    <td class="table-date">
                                        <p>{{ b.rdv |format_datetime ( locale= 'fr', pattern="dd MMMM YYYY HH:mm") }}</p>
                                    </td>
                                {% endif %}

                                {% if (b.statut== 0) %}
                                    <td class="table-statut-wait">
                                        <p>En attente</p>
                                    </td>
                                {% else %}
                                    {% if date('now')> date(b.rdv) %}
                                        <td class="table-statut-ok">
                                            <p>Contrôlé</p>
                                        </td>
                                    {% else %}
                                        <td class="table-statut-en-cours">
                                            <p>En cours</p>
                                        </td>
                                    {% endif %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

{% endblock %}